body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #602997;
  color: #ffffff;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 54px;
  margin-bottom: 0;
}

main > h2 {
  text-align: center;
  font-size: 25px;
}
section > h2 {
  color:#d065aa
}